// animations

// bouncing animation for arrows
@keyframes bounce {
  0%, 5%, 35%, 65%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30px);
  }
  45% {
    transform: translateY(-15px);
  }
}

@keyframes bounceTop {
  0%, 5%, 35%, 65%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30px);
  }
  45% {
    transform: translateY(15px);
  }
}

@keyframes bounce-left {
  0%, 5%, 35%, 65%, 100% {
    transform: translatex(0);
  }
  25% {
    transform: translatex(10px);
  }
  45% {
    transform: translatex(5px);
  }
}

@keyframes bounce-right {
  0%, 5%, 35%, 65%, 100% {
    transform: translatex(0);
  }
  25% {
    transform: translatex(8px);
  }
  45% {
    transform: translatex(3px);
  }
}

@keyframes bounce-arrow-right {
  0%, 5%, 35%, 65%, 100% {
    transform: rotate(-90deg) translatey(0) rotate(0deg);
  }
  25% {
    transform: rotate(-90deg) translatey(10px) rotate(0deg);
  }
  45% {
    transform: rotate(-90deg) translatey(5px) rotate(0deg);
  }
}

// pulsing circles for service items
@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: 1;
  }
  to {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}


// scroll animations

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  z-index: 0;
  position: relative;
}


.bounce {
  position: relative;
  display: inline-block;
  animation: bounce 3s infinite;
}

.bounce-right:hover i{
  position: relative;
  display: inline-block;
  animation: bounce-right 2s ease;
}

.bounceTop {
  -webkit-animation-name: bounceTop;
  animation-name: bounceTop;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.animate{
  animation-play-state: running;
}

.opacity-0{
  opacity: 0;
}


