.button{
  white-space: nowrap;
  display: inline-block;
  background: #416052;
  padding: 16px 32px;
  cursor: pointer;
  color: white;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
  -o-transition: all .4s ease;

  i {
    padding-left: 16px;
  }

  &:hover {
    color: white;
    text-decoration: none;
    background: darken(#416052, 10%);
  }

  &.inverted{
    background: none;
    border: 2px solid #416052;
    color: #416052;
    &:hover {
      background: darken(#416052, 10%);
      color: white;
    }
  }
}

a.bounce-link{
  &:hover{
    i{
      animation: bounce-right 2s ease;
    }
  }
}