@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../../node_modules/lightbox2/dist/css/lightbox.min.css';

@import "common/variables";
@import "common/buttons";
@import "common/animations";

@import "header";
@import "footer";

@import "home";
@import "villa";
@import "department";
@import "contact";


body{
  font-family: 'Tinos', serif;
  background-color: #F7F4ED;
}
.grecaptcha-badge{
  display: none !important;
}