.contact {
  @media (max-width: 767px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &__form {
    background: white;
    padding: 50px 80px 10px 0;
    @media (max-width: 991px) {
      padding: 50px 15px 30px 0;
    }
    @media (max-width: 767px) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .tabs {
      margin-top: 50px;
      display: flex;
      width: 100%;

      &__tab {
        width: 50%;
        text-align: center;
        border-bottom: 1px solid #959595;
        padding: 15px 0;
        color: black;
        cursor: pointer;

        &:hover {
          color: #416052;
          text-decoration: none;
        }

        &.active {
          border-bottom: 2px solid #416052;
          color: #416052;
        }

        &.disabled {
          cursor: auto;
        }
      }
    }

    .tabs-contents {
      margin-top: 50px;
      min-height: 420px;

      &__tab {
        display: none;

        input[type="number"], input[type="email"], input[type="text"], textarea, select {
          width: 100%;
          padding: 15px 23px;
          margin-bottom: 15px;

        }

        a, button {
          margin-top: 62px;
        }

        &.active {
          display: block;
        }
      }
    }

    .message {
      font-size: 18px;

      &--fail {
        color: #e80202;
      }

      &--success {
        color: #64cd03;
      }
    }

    .input-icon {
      position: relative;

      input {
        padding-right: 40px !important;
        @media (max-width: 768px) {
          padding-right: 30px !important;
        }
      }

      i {
        position: absolute;
        right: 23px;
        top: 20px;

        @media (max-width: 768px) {
          right: 13px;
        }
      }
    }
  }

  &__right {
    padding: 50px 0 15px 80px;
    @media (max-width: 991px) {
      padding: 50px 0 30px 15px;
    }
    @media (max-width: 991px) {
      padding-right: 15px !important;
    }

    h1 {
      margin-bottom: 48px;
    }

    &__message {
      background: white;
      margin-bottom: 16px;

      a {
        color: black;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        transition: all .4s ease;
        -o-transition: all .4s ease;

        &:hover {
          text-decoration: none;
          color: #416052;
        }
      }

      &__text {
        padding: 24px !important;
        position: relative;

        i {
          position: absolute;
          bottom: 24px;
          left: 24px;
          @media (max-width: 991px){
            right: 24px;
            left: auto;
          }
        }
      }

      .map {
        display: block;
        height: 180px;
      }
    }
    &__resort-image{
      height: 180px;
    }
  }
}

.holder--contact{
  position: relative;
  padding: 0;

  .container-lg{
    margin: auto;
  }

  .overlay{
    position: absolute;
    width: 50%;
    height: 100%;
    background: white;
    z-index: -1;

    @media all and (max-width: 768px) {
      display: none;
    }
  }
}