.department-header {
  background: white;
  height: 120px;

  .container{
    height: 100%;
  }
  .row{
    height: 100%;
    align-items: center;
  }
  @media (max-width: 991px) {
    height: 140px;
  }
  hr {
    border-color: #979797;
  }
}

.departments {
  margin: 50px 0;

  @media all and (max-width: 768px) {
    .col-sm-12{
      margin-bottom: 30px;
    }
  }

  .last{
    @media (max-width: 991px) {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
      .departments__department{
        height: auto;
      }
    }
  }
  &__department {
    background: white;
    padding: 48px;
    height: 100%;

    h3 {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 32px;
    }

    p {
      margin-bottom: 20px;
    }

    div {
      margin-bottom: 10px;

      i {
        padding-right: 15px;
      }
    }
    &__downloads{
      padding-top: 15px;
      a{
        width: 100%;
        padding: 16px 16px;
        @media (max-width: 330px) {
          padding: 16px 5px;
        }
      }
    }
  }
}

.departments-downloads {
  margin-bottom: 120px;
  text-align: center;

  &__space {
    width: 30px;
    display: inline-block;
  }

  i {
    padding-right: 20px;
    padding-left: 0;
  }
}

.link--website{
  color: $black;
  text-decoration: none;

  &:hover{
    color: #00a08d;
    text-decoration: none;
  }
}