footer {
  color: white;
  background: #2B2C2E;
  padding: 50px 0 0;

  .footer-logo {
    text-align: center;
  }

  .info {
    font-size: 18px;
    padding: 20px;
    padding-top: 0;
    text-align: center;

    .row:first-child {
      margin-bottom: 20px;
    }

    i {
      font-size: 30px;
      margin-top: 10px;
    }

    &__text {
      display: flex;
      flex-direction: column;

      a {
        color: white;

        &:hover {
          color: #00a08d;
          text-decoration: none;
        }
      }
    }
  }

  .social {
    vertical-align: middle;
    text-align: center;
    margin-top: 25px;

    a:first-child {
      margin-right: 20px;
    }

    a {
      color: white;

      &:hover {
        color: #00a08d;
      }
    }
  }

  #map {
    height: 161px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 768px) {
      height: 250px;
    }
  }

  .copyright {
    border-top: 1px solid #3d3e3f;
    border-color: rgba(250, 250, 250, 0.13);
    height: 40px;
  }
}