header {
  background-color: #262626;
  background-image: url(../images/header.png);
  background-repeat: repeat-x;
  background-position: bottom left;
  border-bottom: 35px solid #416052;

  .navbar{
    position: relative;
    min-height: 95px;
    padding: 0;
    padding-left: 150px;

    .navbar-brand {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;

      img{
        width: 116px;
      }
    }
    .navbar-toggler{
      color: white;
    }
    .navbar-nav {
      display: flex;
      flex-direction: row;

      li {
        display: block;
        height: 95px;
        line-height: 95px;
        margin: 0;
        padding: 0 20px;
        vertical-align: middle;

        a {
          font-size: 18px;
          padding: 0;
          text-transform: uppercase;
          color: white;
          -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          transition: all .4s ease;
          -o-transition: all .4s ease;
          text-decoration: none;

          &:hover {
            color: #00a08d;
          }
        }
        &.active {
          a {
            color: #00a08d;
          }
        }
      }

      .current-menu-item a{
        color: #00a08d;
      }
    }

    .navbar-text{
      color: white;
      margin-right: 10px;
      display: flex;

      .tel{
        border-right: 1px solid white;
        padding-right: 10px;
        margin-right: 10px;

        i{
          margin-right: 5px;
          position: relative;
          top: 1px;
        }
      }

      .languages{
        display: flex;
        list-style: none;
        padding: 0;
        margin-bottom: 0;

        .lang-item:first-child{
          margin-right: 10px;
          border-right: 1px solid white;
          padding-right: 10px;
        }
      }

      @media all and (max-width: 992px){
        display: none;
      }
      a{
        color: white;
        &:hover{
          color: #00a08d;
          text-decoration: none;
        }
      }
    }
  }
}

#navbar-mobile{
  margin-left: auto;
  @media (min-width: 992px) {
    display: none;
  }
  .menu__icon{
    width: 50px;
    height: 50px;
  }
}
.navbar-desktop{
  @media (max-width: 991px) {
    display: none;
  }
}
// mobile menu navigation
.menu__icon{
  margin-left: 25px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 9999;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
  -o-transition: all .4s ease;

  &__holder{
    flex-direction: column;
    margin-left: auto;
    z-index: 1000;
    position: relative;
  }

  .menu__icon--span{
    width: 70%;
    height: 0.25em;
    background: white;
    display: block;
    margin-bottom: 0.3125em;
    position: relative;

    &:last-child{
      margin-bottom: 0;
    }
  }
  .collapse_bar--center-bottom{
    margin-top: -0.25em;
  }
  .collapse_bar--center-top{
    margin-bottom: 0;
  }
}

.navigation__holder--mobile{
  display: none;
  padding: 0;
  padding-right: 5vw;
}

// navigation mobile
.navigation--mobile{
  display: none;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 130px);
  background: #262626;
  top: 130px;
  left: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .languages{
    padding-left: 0;
    list-style: none;
  }

  & > ul{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    margin-left: 0;
    list-style: none;

    li{
      margin: 0;
      margin-bottom: 5vh;
      padding: 0;
      &.active{
        a {
          color: #416052;
        }
      }

      a{
        color: white;
        font-size: 22px;
        padding: 0;
        text-transform: uppercase;
      }

      &:nth-last-child(2){
        margin-top: auto;
        margin-bottom: 2vh;
      }
      &:last-child{
        margin-bottom: 2vh;
        color: white;
      }
    }
  }
}


.active_lang{
  font-weight: bold;
  a{
    color: #00a08d !important;
  }

}