.home-villas {
  margin-top: 50px;

  @media all and (max-width:768px){
    .col-sm-12{
      margin-bottom: 30px;
    }
  }

  &__villa {
    background: white;
    position: relative;
    z-index: 1;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;


    h2 {
      font-weight: bold;
      padding: 32px 32px 23px;
      display: block;
      font-size: 32px;
    }

    p {
      padding: 0 32px;
      font-size: 16px;
    }
    
    a{
      text-decoration: none;
      color: $black;
    }

    .link {
      padding: 25px 32px;
      display: block;
      color: black;
      margin-top: auto;

      i {
        float: right;
      }

      &:hover {
        text-decoration: none;
        color: #416052;
      }
    }

    .home_villa__image{
      width: 100%;
      padding-top: 100%;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__white-box {
    position: absolute;
    background: white;
    width: 100%;
    height: 170px;
    margin-top: -170px;
  }
}

.guaranteed-rest {
  background: white;
  padding: 50px 0;

  h1 {
    font-weight: bold;
    font-size: 40px;
  }

  hr {
    margin: 27px;
    border-color: #979797;
  }

  p {
    margin-top: 23px;
    color: #676767;


  }

  ul {
    margin-top: 23px;
    color: #676767;
  }

  a {
    margin-top: 25px;
  }
}

.next-project {
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  @media (max-width: 767px) {
    flex-direction: column;
  }

  h1 {
    font-weight: bold;
    font-size: 40px;
    vertical-align: middle;
    @media (max-width: 767px) {
      text-align: center;
      font-size: 22px;
      margin-top: 15px;
    }
  }

  &__link {
    text-align: right;
    @media (max-width: 767px) {
      margin-top: 15px;
      text-align: center;
    }

    a {
      line-height: 50px;
      display: inline-block;
      @media (max-width: 767px) {
        line-height: 30px;
      }

      &:hover {
        background: none !important;
        color: #416052 !important;
      }

      img {
        margin-right: 15px;
        width: 70px;
      }
    }
  }
}