.villa-info {
  padding-top: 50px;
  position: relative;

  @media (max-width: 991px) {
    padding-top: 60px;
  }

  &__white-box {
    background: white;
    width: 100%;
    height: 480px;
    position: absolute;
    top: 0;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .gallery_image{
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__image {
    position: relative;
    @media (max-width: 767px) {
      order: 2;
    }

    img {
      width: 100%;
    }


    &__gallery-button {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100px;
      height: 100px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      transition: all .4s ease;
      -o-transition: all .4s ease;

      &--number {
        right: 100px;
        background: white;
        color: #416052 !important;
        font-size: 30px;
        font-weight: bold;

        &:hover {
          transition: all .2s ease;
          font-size: 32px;
        }
      }

      &--full {
        right: 0;
        background: #416052;
        color: white !important;

        &:hover {
          i {
            transition: all .2s ease;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &__description {
    background: white;
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-bottom: 50px !important;;
    @media (max-width: 991px) {
      background: white;
    }

    @media (max-width: 767px) {
      padding-bottom: 48px !important;
      padding-top: 25px !important;
    }
  }

  hr {
    margin: 27px;
    border-color: #979797;
  }

  .villa__text{
    margin-bottom: 30px;
  }


}

.equipment {
  margin: 50px 0;
  background: white;
  padding: 48px;


  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
  }

  ul {
    padding-left: 20px;
  }

  a {
    color: #416052;
    display: inline-block;
    margin-top: 20px;

    i {
      padding-right: 20px;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}

.information_holder{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media all and (max-width:768px){
    .col-md-4{
      margin-bottom: 25px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.important-info {
  background: white;
  padding: 48px;
  height: 100%;

  h2 {
    font-weight: bold;
    font-size: 24px;
  }

  div {
    font-size: 16px;
    margin-top: 22px;

    ul {
      padding: 0 0 0 15px;
    }
  }
}

.pricelist {
  background: white;
  padding: 48px;
  height: 100%;

  h2 {
    font-weight: bold;
    font-size: 24px;
  }

  div {
    font-size: 16px;
    margin-top: 22px;

    ul {
      padding: 0 0 0 15px;
    }
  }

  a {
    display: block;
    color: #416052;

    i {
      padding-left: 20px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.location {
  background: white;
  height: 100%;

  h2 {
    padding: 48px 48px 10px;
    font-weight: bold;
    font-size: 24px;
  }

  .map {
    width: 100%;
    height: 220px;
    background: #9fcdff;
  }
}

.paging {
  margin-top: 50px;
  height: 150px;
  /*line-height: 200px;*/
  background: white;

  a {
    font-weight: bold;
    font-size: 24px;
    @media (max-width: 570px) {
      font-size: 20px;
      flex-direction: column;
      i{
        margin-top: 10px;
      }
    }
    display: flex;
    color: black;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    -o-transition: all .4s ease;

    &:hover {
      color: #416052;
      text-decoration: none;
    }
  }


  &__prev {
    min-height: 150px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    i {
      padding-right: 25px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    @media (max-width: 570px) {
      a {
        flex-direction: column-reverse;
      }
    }
  }


  &__next {
    min-height: 150px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
      padding-left: 25px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}


@media all and (max-width: 600px){
  .title_line{
    display: none;
  }
  .holder--title{
    max-width: 100%;
    width: 100%;
    flex: none;
  }
}